@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
}
*,
::before,
::after {
  border-width: 0;
}

.bg-gradient {
  background: linear-gradient(90deg, rgba(255, 179, 92, 0.12) 5.56%, rgba(92, 31, 217, 0.12) 94.2%);
}
.gradient-text {
  background: linear-gradient(89.91deg, rgba(125, 62, 255, 0.84) -1.53%, #FFB35D 46.27%, rgba(120, 54, 255, 0.84) 99.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-family: Urbanist;
font-size: 48px;
font-weight: 800;
text-align: center;
}
@media (min-width: 1536px) {
  .gradient-text {
    font-size: 7rem !important;
  }
}
@media (min-width: 1000px) and (max-width: 1535px) {
  .gradient-text {
    font-size: 50px !important;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .gradient-text {
    font-size: 2rem !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .gradient-text {
    font-size: 2rem !important;
  }
}
.fkexbixs{
 justify-content: center;
 display: flex;
}
.text-gradient {
  background: linear-gradient(89.91deg, rgba(125, 62, 255, 0.84) -1.53%, #FFB35D 46.27%, rgba(120, 54, 255, 0.84) 99.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-family: Urbanist;
font-size: 3.3rem;
font-weight: 800;
text-align: center;
}
.gradient-border {
  border: 2.27px solid transparent; /* Set the border width */
  border-image-source: linear-gradient(90deg, #EEE7DD 10.5%, #999999 55.5%, #EEE7DD 84.5%);
  border-image-slice: 1;
}
