@media only screen and (max-width: 500px) {
    #navRes {
      display: none;
    }
    #itemNav {
      display: none;
    }
  }

  #navFix {
    position: sticky;
   top: 0;
   width: 90%;
  
  }
  @media(min-width:801px){
    #hamburger{
      display: none;
    }
    
  }
  @media (max-width:800px) {
    #resumeBtn{
      display: none;
    }
  }
 .backdrop-lg{
  backdrop-filter: blur(16px);
 } 
  
  